<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>User Accounts Web Application</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Accounts CXF Servlet</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>jaxrs.serviceClasses</param-name>
			<param-value>
				accounts.controller.AccountsResource
			</param-value>
		</init-param>
		<init-param>
			<param-name>jaxrs.providers</param-name>
			<param-value>
				accounts.gson.GsonJsonProvider,
				accounts.exception.NoResultExceptionMapper,
				accounts.exception.NumberFormatExceptionMapper,
				accounts.exception.JsonParseExceptionMapper,
				accounts.exception.IllegalArgumentExceptionMapper,
				accounts.exception.ParseExceptionMapper,
				accounts.exception.RollbackExceptionMapper
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Accounts CXF Servlet</servlet-name>
		<url-pattern>/accounts/*</url-pattern>
	</servlet-mapping>
</web-app>